@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* Deep space gradient */
  background: radial-gradient(circle at 50% 0%, #1a1a2e 0%, #000000 100%);
  min-height: 100vh;
  color: var(--foreground);
  font-family: var(--font-sans);
}